@font-face {
  font-family: "Roboto";
  src: url("/stylesheets/fonts/Roboto-Regular.ttf");
}

* {
  box-sizing: border-box;
}

html {
  height: auto;
  min-height: 100%;
  background-color: #FAECC9;
}

body {
  font: 1rem "Roboto", Helvetica, Arial, sans-serif;
  color: #110012;
  background-color: inherit;
  height: auto;
  min-height: 100%;
}

header {
  color: #110012;
  background-color: #FEDB7F;
  padding: 10px;
  margin-bottom: 15px;
}

h1 {
  margin: 0;
  width: 100%;
}

h2 {
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

input {
  height: 1.5rem;
  width: 12rem;
  color: #110012;
  background-color: #FAECC9;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-color: #796020;
  border-radius: 0;
  border-width: 1px;
}

input:focus {
  background-color: #FEDB7F;
  outline: none;
}

label {
  height: 1.5rem;
  width: auto;
}

button {
  height: 1.5rem;
  width: 12rem;
  color: #110012;
  background-color: #FEDB7F;
  border: 1px solid #796020;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

td {
  padding: 0 10px;
  max-width: 10rem;
  white-space: nowrap;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
}

.rules {
  border: 1px solid #796020;
  border-radius: 10px;
  padding: 5px;
}

.btn_logo {
  width: 7rem;
  height: 7rem;
  cursor: pointer;
  margin: auto;
}

.clickable:active {
  transform: scale(0.95);
}

.background {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  margin: auto;
  transition: transform 0.5s;
}

.no_cursor {
  cursor: default;
}

.centered {
  text-align: center;
}

.padded {
  padding: 0 5px 10px 5px;
  margin: auto;
}

.left{
  text-align: left;
}

.right{
  text-align: right;
}

.bold {
  text-transform: uppercase;
  font-weight: bold;
}

.game-content {
  margin: auto;
}

.block {
  display: block;
}

.win {
  background-color: #45FF7A;
}

.lose {
  background-color: #FF4241;
}

.draw {
  background-color: #FFAA2B;
}

.overflow {
  height: 1.2rem;
  overflow: hidden;
  word-wrap: break-word;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}